<h1 class="heading">Hello World {{ title }}!!!</h1>
<button (click)="getName('Pavan', 123)">Click me</button>
<app-login></app-login>
<app-user-list></app-user-list>
<app-student-list></app-student-list>
<app-country-list></app-country-list>
<app-teacher></app-teacher>

<!-- Get Value and print from the input field 
<input type="text" #box placeholder="Enter Name" name="username" />

<button (click)="getvalue(box.value)">click me</button>
<button (click)="getvalue(box.name)">click me</button>
<button (click)="getvalue(box.placeholder)">click me</button>

<p>Box Value is : {{ displayVal }}</p> -->

<!-- ?~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- #################### Make Counter ######################### -->

<button (click)="counter('add')">+</button>
<p>{{ count }}</p>
<button (click)="counter('minus')">-</button>

<button (click)="counter1('add1')">+</button>
<h1>{{ count1 }}</h1>
<button (click)="counter1('minus2')">-</button>

<!-- ####### Property Binding ########## -->
<!-- change property of attribute of our input tag -->
<!-- <br />
<input type="text" name="user-name" value="{{ name }}" />
<br />
<input type="text" name="user-name" [value]="name" />//used it change for the
attributes and propertirs also allow for bolean values but interpolation not
allow for boolean value -->

<!-- ####### If Else ########## -->
if show is true then h1 tag is show on webpage but if false then wont show on
page
<!-- <h1 *ngIf="show;then  ifBlock else elseBlock">Code setp by step</h1> -->
<h1 *ngIf="show == 'yes'; then ifBlock; else elseBlock"></h1>

<ng-template #ifBlock>
  <h1>if Condition</h1>
</ng-template>
<!-- else statement apply on it for used ngTemplate -->

<ng-template #elseBlock>
  <h1>Else Condition</h1>
</ng-template>

<!--  ### Else If ### -->

<!-- <h1 *ngIf="color === 'red'" style="color: red">Red Colour</h1>
<h1 *ngIf="color === 'green'" style="color: green">Green Colour</h1>
<h1 *ngIf="color === 'blue'" style="color: blue">Blue Colour</h1> -->

<!-- ### Switch Case ###-->
<!-- we have more conditons that time we used Switch Case -->

<div [ngSwitch]="color">
  <h1 *ngSwitchCase="'blue'" style="color: blue">Blue Colour</h1>
  <h1 *ngSwitchCase="'green'" style="color: green">Green Colour</h1>
  <h1 *ngSwitchCase="'orange'" style="color: orange">Orange Colour</h1>
  <h1 *ngSwitchCase="'pink'" style="color: pink">Pink Colour</h1>
  <h1 *ngSwitchDefault>Unknown Colour</h1>
</div>

<!-- ### Loop in Angular #### -->
